@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: arial, helvetic, sans-serif;
}

.buttonPesquisa {
  height: 20px;
  width: 23px;
  margin-left: 1px;
  margin-right: 1px;
}

.buttonAdiciona {
  height: 20px;
  width: 23px;
  margin-left: 1px;
  margin-right: 1px;
  vertical-align: bottom;
}

.imgPesquisa {
  height: 15px;
  width: 18px;
  background-image: url("#{resource['img/zoom.gif']}") !important;
}

.imgAdiciona {
  height: 15px;
  width: 18px;
  background-image: url("#{resource['img/add_16.png']}") !important;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: none;
}

.estiloSpan {
  color: red;
  font-size: 14px;
}

#topo {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  background-color: #f7f6f5;
}

#menu {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  height: 30px;
  background-color: #f7f6f5;
}

#menupop {
  position: absolute;
  border: 1px solid #61cded;
  top: 63px;
  right: 25px;
  height: 30px;
  width: 150px;
  background-color: white;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 2px;
}

#menupop a:hover {
  background-color: #e5e5e5;
}

#dialogo {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: url('imagens/fundopesquisa.png');
  padding: 10px;
}

#dialogo #corpodialogo {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  padding: 5px;
}

#dialogo2 {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: transparent;
  padding: 10px;
}

#dialogo2 #corpodialogo2 {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  padding: 5px;
}

#dialogopesquisa {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: transparent;
  padding: 10px;
}

#dialogopesquisa #corpodialogopesquisa {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  padding: 5px;
}

#dialogopesquisa #corpodialogopesquisa #topodialogopesquisa {
  position: relative;
  background-color: #61c0e0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top: 0;
  left: 0;
  padding: 5px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

#dialogopesquisa #corpodialogopesquisa #paginapesquisa {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  bottom: 20px;
  top: 10px;
  height: 285px;
}

#dialogopesquisa #corpodialogopesquisa #botoespesquisa {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: right;
  left: 0;
  bottom: 0px;
  height: 20px;
  padding: 5px;
}

#iniciarmenu {
  border: 1px solid gray;
  background-color: white;
  margin-top: 4px;
  margin-left: 9px;
  padding: 3px 10px 6px 20px;
  width: 68px;
  height: 12px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-face: sans-serif;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
}

#iniciarmenu #imageminiciarmenu {
  margin-left: -14px;
  display: inline-block;
  float: left;
}

#barramenu {
  display: block;
  background-color: #f7f6f5;
  position: absolute;
  top: 110px;
  width: 200px;
  bottom: 0px;
  left: 0px;
  padding-top: 5px;
  padding-left: 5px;
}

#imagemlogin {
  position: absolute;
  top: 30px;
  right: 60px;
}

#keyslogin {
  position: absolute;
  bottom: 35px;
  right: 240px;
  z-index: 999;
}

/*formulario*/
.contain {
  position: relative;
  height: 100vh;
  background-color: rgb(233, 233, 233);
  /* background: linear-gradient(to left, #044970, #087abd);
  background-image: url(background.jpg);
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat; */
}

#formlogin {
  /* elemento pai*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 60px;
  right: 60px;
  left: 50%;
  top: 50%;
  width: 28vw;
  height: 55vh;
  transform: translate(-50%, -50%);
  background-color: white;
  display: block;
  border-radius: 7px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:  1px solid rgb(255, 0, 119) inherit;
}

.tituloform {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-left: 10px;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
}

#img {
  width: 15vw;
  height: 20vh;
  margin-left: 8px;
  /* border: 1px solid green; */
  background-image:url(logoinhaus.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-left: 16.5px;
  margin-bottom: 27px;
  gap: 8px;
  margin-top: 30px;
  /* border: 1px solid rgb(22, 218, 68) */
}

input {
  outline: none;
  padding: 9px;
  border: 1px solid rgba(128, 128, 128, 0.322);
  width: 13vw;
  border-radius: 4px;
}

input::placeholder {
  font-weight: bold;
}

input:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.105);
  transition: 0.3s;
}

button {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px 8px;
  width: 13vw;
  margin-top: 3em;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 15px #182d45bf;
  background-color: #015b8c;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
  transition: 0.7s;
}

/* // formulario*/

/* Media Queries - Responsividade */

@media screen and (max-width: 600px){
  #formlogin{
    width: 60%;
  }

  form{
    margin-bottom: 4em;
  }

  .tituloform{
    font-size: 15px;
    font-weight: bold;
  }

  #img{
    width: 40vw;
    height: 27vh;
  }

  input{
    width: 32vw;
  }

  button{
    width: 22vw;
  }
}

@media screen and (min-width:601px) and (max-width:768px){
  #formlogin{
    width: 55%;
  }

  form{
    margin-bottom: 3em;
  }

  #img{
    width: 35vw;
  }

  input{
    width: 28vw;
  }

  button{
    width: 18vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px){
  #formlogin{
    width: 45%;
    height: 55vh;
  }

  form{
    margin-bottom: 4em;
  }

  #img{
    width: 25vw;
    height: 700px;
  }

  input{
    width: 26vw;
  }

  button{
    width: 16vw;
  }
}

@media screen and (min-width:993px) and (max-width:1200px){
  #formlogin{
    width: 40%;
  }

  form{
    margin-bottom: 3em;
  }

  #img{
    width: 20vw;
  }

  input{
    width: 22vw;
  }
}

@media screen and (min-width: 1201px){
  #formlogin{
    
  }

  #img{
    width: 18vw;
  }

  input{
    width: 17vw;
  }
}

/*Fim media queries*/

#dadoslogin {
  background: #61cded;
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  right: 20px;
  top: 14px;
  width: 200px;
  padding: 4px;
  background-color: #61c0e0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

.ui-growl {
  position: fixed;
  top: 10%;
  right: 5px;
  width: 301px;
}

.tituloJanela {
  position: relative;
  background-color: #61c0e0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top: 0;
  left: 0;
  padding: 5px 5px 5px 5px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}

.tituloListagem {
  text-align: left;
  margin: 0px 0px 3px 0px;
  padding: 5px 5px 8px 10px;
  background: #61cded;
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

input[type='button'] {
  margin: 1px 2px 1px 2px;
  padding-right: 5px;
  padding-left: 5px;
}

input[type='submit'] {
  margin: 1px 2px 1px 2px;
  padding-right: 5px;
  padding-left: 5px;
}

#barraerro {
  position: absolute;
  height: 60px;
  border: 1px solid #980021;
  background-image: linear-gradient(to bottom, #cf2b4f, #980021);
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 12px;
}

#barraerro #mensagembarraerro {
  padding-left: 60px;
  padding-right: 10px;
}

#corpo {
  bottom: 2px;
  right: 2px;
  left: 2px;
  top: 112px;
  position: absolute;
  padding: 8px;
}

#linhaSelecao span {
  display: inline-block;
}

#linhaSelecao:hover {
  background-color: #c0c8cb;
}

#linhaSelecaoPesquisa span {
  display: inline-block;
  cursor: pointer;
}

#linhaSelecaoPesquisa:hover {
  background-color: #c0c8cb;
}

.iconepesquisa {
  cursor: pointer;
  width: 14px;
  vertical-align: middle;
  padding-left: 2px;
}

.bordaImagem {
  border: 0px;
}

.espacoBranco {
  height: 10px;
}

.styleFildSet {
  width: 100%;
}

.botaoPesquisa {
  height: 23px;
}

.valorPesquisa {
  width: 400px;
}

.estiloIdCastro {
  width: 115px;
}

.estyleInputName {
  width: 400px;
}

a.ui-menuitem-link.ui-corner-all.ui-state-hover {
  background: none repeat scroll 0% 0% transparent;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius: 5px; /* Para Firefox */
  -webkit-border-radius: 5px; /*Para Safari e Chrome */
  border-radius: 5px; /* Para Opera 10.5+*/
}

.ui-datatable table {
  border-collapse: separate;
}

.ui-datatable thead th,
.ui-datatable tbody td,
.ui-datatable tfoot td {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius: 5px; /* Para Firefox */
  -webkit-border-radius: 5px; /*Para Safari e Chrome */
  border-radius: 5px; /* Para Opera 10.5+*/
  border-color: white; /*cor das linha nos data table*/
}

.ui-corner-bottom {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius: 5px; /* Para Firefox */
  -webkit-border-radius: 5px; /*Para Safari e Chrome */
  border-radius: 5px; /* Para Opera 10.5+*/
}

.ui-corner-all {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius: 5px; /* Para Firefox */
  -webkit-border-radius: 5px; /*Para Safari e Chrome */
  border-radius: 5px; /* Para Opera 10.5+*/
}

/*
DESTE PONTO PARA BAIXO CSS QUE ALTERA GERAL O PRIMEFACES
*/
.ui-panel .ui-panel-titlebar {
  padding: 0.1em 1em 0.1em;
}

.ui-panel {
  padding: 0.1em;
}

.ui-panel .ui-panel-content {
  border: 0px none;
  background: none repeat scroll 0% 0% transparent;
  padding: 0.2em 0.2em;
}

.ui-selectonemenu {
  top: 1px;
  display: inline-block;
  position: relative;
  width: auto;
  zoom: 1;
  cursor: pointer;
  overflow: hidden;
  height: 22px;
}

.ui-datatable thead th,
.ui-datatable tbody td,
.ui-datatable tfoot td {
  padding: 2px 2px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: white; /*cor das linha nos data table*/
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-pages,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-current {
  display: inline-block;
  margin-right: 3px;
  outline: medium none;
  margin-left: 3px;
  text-decoration: none;
  padding: 0px 0px;
}

.ui-widget-header {
  border: none;
  color: #000;
  font-weight: bold;
  background: none;
}

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin-right: 0.2em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  overflow: visible;
  height: 24px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius: 5px; /* Para Firefox */
  -webkit-border-radius: 5px; /*Para Safari e Chrome */
  border-radius: 5px; /* Para Opera 10.5+*/
  border: 1px solid #aed0ea;
  font-weight: bold;
}

.ui-panelgrid td {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 0px 0px;
  border-color: white; /*cor das linha nos data table*/
}

.ui-button-icon-only .ui-button-text {
  padding: inherit;
  text-indent: -9999999px;
}

.ui-inputfield,
.ui-widget-content .ui-inputfield,
.ui-widget-header .ui-inputfield {
  background: #ffffff;
  -moz-box-shadow: inset 0 1px 1px #8f8f8f;
  -webkit-box-shadow: inset 0 1px 1px #8f8f8f;
  box-shadow: inset 0 1px 1px #8f8f8f;
  color: #000000;
}

.ui-fieldset,
.ui-fieldset .ui-fieldset-legend {
  padding: 0.1em 1em;
}

.calendar .ui-button-icon-only {
  height: 22px;
  width: 22px;
  vertical-align: bottom;
  margin-left: 1px;
  margin-right: 1px;
}

.calendarOculta .ui-button-icon-only {
  height: 22px;
  width: 22px;
  vertical-align: bottom;
  margin-left: 1px;
  margin-right: 1px;
  display: none;
}

.ui-datatable thead th,
.ui-datatable tbody td {
  border: 1px solid white !important;
}
